html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 14px "微软雅黑";
  background-color: #fff;
}

ul {
  margin: 0;
}
a {
  color: #a2a2a2;
  text-decoration: none;
}

.pc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pc .tip {
  display: block;
  font-size: 20px;
  padding: 10px 20px;
  border: 1px dashed #ececec;
}

.pc .main {
  display: none;
}

.mb .tip {
  display: none;
}

.mb .main {
  display: block;
}

.container {
  margin-top: 10px;
}

.container .container_header {
  padding: 10px 5px;
}

.container .main {
  padding: 5px;
  height: 200px;
}

.header{
  display: flex;
  height: 45px;
  border-bottom: 1px solid #ececec;
}
.header_item:first-child {
  border-right: 1px solid #ececec;
}
.header_item {
  flex: 1;
  line-height: 45px;
  text-align: center;
}

.footer {
  text-align: center;
}

.footer a {
  display: inline-block;
  padding: 10px;
  width: 90%;
  margin: 20px 0;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
