.mslider {
  position: relative;
  background: #dedede;
}

.mslider_slides {
  position: relative;
  list-style: none;
  width: 100%;
  height: inherit;
  overflow: hidden;
}

.mslider_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  overflow: hidden;
  background: #fff;
}

.mslider_img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  /*max-width: 100%;*/
  max-height: 100%;
}

.mslider_indicator {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  font-size: 0;
  display: inline-block;
}


.mslider_indicator--left {
  left: 10px;
}
.mslider_indicator--center {
  left: 50%;
  transform: translateX(-50%);
}
.mslider_indicator--right {
  right: 10px;
}

.mslider_indicator--normal {
  display: inline-block;
  padding: 4px 5px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.36);
}

.mslider_indicator--normal .mslider_dot {
  display: inline-block;
  font-size: 14px;
  width: 5px;
  height: 5px;
  background: #9c9b9b;
  border-radius: 5px;
  margin: 0 2px;
  transition: all .3s;
}

.mslider_indicator--normal .mslider_dot--active {
  background: #ff8100;
}

.mslider_indicator--circle {
  display: inline-block;
  width: 35px;
  height: 35px;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
  color: #696969;
  background-color: rgba(0, 0, 0, 0.36);
  border-radius: 35px;
}

.mslider_indicator--circle .mslider_circle-current {
  color: #8C8A8A;
  font-size: 18px;
}

.mslider_description {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  font-size: 0;
  text-align: center;
  z-index: 10;
  color: #fff;
  font-size: 14px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.36);
}
